#jhint_newDiv {
  width: 15%;
  position: absolute;
  padding: .1rem;
  z-index: 999999;
}

#jhint_contentDiv {
  width: 100%;
  position: relative;
  padding: 1rem;
  background-color: #fff;
  border: solid 1px #ccc;
  border-radius: 3px;
  box-shadow: 8px 16px 30px rgba(0, 0, 0, 0.16);
}

#jhint_contentDiv p a {
  color: #8ABC83;
  text-decoration: none;
}

.jhint_partOfSpeech {
  background-color: #909dc0;
  padding: 2px 5px 3px 5px;
  text-shadow: none;
  color: white;
  border-radius: 3px;
  font-size: .9rem;
  text-transform: lowercase;
}
.jhint_partOfSpeech:not(:last-of-type) {
  margin-right: .5rem;
}

#jhint_contentDiv p {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #222;
  text-align: center;
  white-space: pre-wrap;
}

#jhint_contentDiv p:last-of-type {
  margin: 0;
}

#jhint_contentDiv ruby {
  font-size: 2em;
}

#jhint_contentDiv ruby rt {
  font-size: 40%;
}

#jhint_contentDiv a {
  text-decoration: none;
}

.jhint_boxclose {
  background-color: #909dc0;
  color: white;
  font-size: 1rem;
  cursor:pointer;
  border-radius: 100%;
  display: inline-block;
  padding: 2px 7px 5px 7px;
  line-height: 1;
  position: absolute;
  right: .5rem;
  top: .5rem;
}

.jhint_boxclose:before {
  content: "×";
}

a.jhint_boxclose:hover {
  color: white;
  background-color: #8abc83;
}
